
.movie-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: rgba(76, 200, 241, 0.1);
  width: 300px;
  overflow: hidden;
  
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.movie-info {
  padding: 10px 0;
  position: relative;
}

.movie-card h3 {
  margin: 8px 0;
  font-size: 1.5em;
  color: #333;
}

.movie-card p {
  margin: 4px 0;
  color: #666;
}

.movie-overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 10px;
  background-color: #fff;
  padding: 1rem;
  text-align: justify;
  max-height: 100%;
  transform: translateY(150%);
  transition: transform 0.3s ease-in;
  overflow: hidden;
}

.movie-card:hover .movie-overview {
  transform: translateY(0);
  overflow: auto;
  scrollbar-width: none;
  background-color: white;
  color: aqua;
}

.movie-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
